<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="gradient-custom">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">RT:STATS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/account/profile">Profile</a>
                    <a class="nav-link" href="#">Settings</a>
                    <a class="nav-link" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <input type="text" hidden name="" id="totalKills" value=<%=dataInGame.user_Data_InGame.StatsPlayer.kills %>>
    <input type="text" hidden name="" id="totalDeaths" value=<%=dataInGame.user_Data_InGame.StatsPlayer.deaths %>>
    <input type="text" hidden name="" id="totalAssists" value=<%=dataInGame.user_Data_InGame.StatsPlayer.assists %>>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-3 text-center">
                    <h1 class="text-white text-end">
                        <%= dataInGame.user_Data_InGame.Mapa.PuntuacionCT %>
                    </h1>

                </div>
                <div class="col-6 text-center">
                    <h1 class="text-white">
                        <%= dataInGame.user_Data_InGame.Mapa.NombreDeMapa %>
                    </h1>
                    <h5 class="text-white fw-lighter">Date</h5>

                </div>
                <div class="col-3 text-center">
                    <h1 class="text-white text-start">
                        <%= dataInGame.user_Data_InGame.Mapa.PuntuacionT %>
                    </h1>

                </div>
            </div>
        </div>
    </header>

    <div class="section-2">
        <div class="container-fluid px-5 my-2">


            <div class="row">
                <div class="col-sm-12 mx-auto my-2 ">
                    <div class=" card shadow  col-3 mx-auto " style="background-color:#385170 ;">
                        <div class="card-header">
                            <h5>KDA</h5>
                        </div>
                        <div class=" p-3 ">
                            <canvas id="radarChart"></canvas>
                        </div>
                    </div>
                </div>



            </div>
            <div class="row ">
                <div class="col-12" >

                   
                                <ul class=" " >
                                  

                                    <% for (let i=0; i < dataInGame.user_Data_InGame.Mapa.HistorialDeRondas.length; i++) { %>

                                        <li class="" >
                                            <%= Object.values(dataInGame.user_Data_InGame.Mapa.HistorialDeRondas[i]) %>
                                        </li>
                                        <%}%>
                                </ul>

                  

                  

                </div>
            </div>
            <div class="row">
                <div class="col-12" style="background-color: brown;">
                    <div class="card col-6">
                        <div class="card-header">
                            Fav Gun stats
                          </div>
                          <div class="card-body">
                              <ul class="list-group list-group-horizontal">
                                  <li class="list-group-item">
                                    <h5 class="card-title">Favorite Gun</h5>
                                      <%= dataAPI.steamUser_APIGame_Data[94].value %>
                                  </li>
                                  <li class="list-group-item">
                                    <h5 class="card-title">Shots</h5>
                                    <%= dataAPI.steamUser_APIGame_Data[95].value %>
                                </li>
                                <li class="list-group-item">
                                    <h5 class="card-title">Favorite Gun Kills</h5>
                                    <%= dataAPI.steamUser_APIGame_Data[97].value %>
                                </li>
                              </ul>
                          </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

</body>
<script src="/bootstrap.min.js"></script>
<script type="text/javascript" src="chart.min.js"></script>
<script type="text/javascript" src="JavaScript/matchDetailsCharts/radarChart.js"></script>
<script type="text/javascript" src="JavaScript/matchDetails.js"></script>

</html>