<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Details</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>

<body >
  <div class="img-bg" >
  <input type="text" hidden name="" id="totalKills" value=<%= dataDemoFile.userLastMatch.userLastMatchTeamKDA.kills %>>
  <input type="text" hidden name="" id="totalDeaths" value=<%= dataDemoFile.userLastMatch.userLastMatchTeamKDA.deaths %>>
  <input type="text" hidden name="" id="totalAssists" value=<%= dataDemoFile.userLastMatch.userLastMatchTeamKDA.assists %>>
    <nav class="navbar navbar-expand-lg shadow " style="background-color: #20244a;">
        <div class="container-fluid">
            <a class="navbar-brand " href="/account/profile">RT:STATS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/account/profile">Profile</a>
                   
                    <a class="nav-link" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
   
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-3 ">
                    <h5 class="text-white text-center">
                        CT
                    </h5>
                    <h1 class="text-white text-center">
                        <%= dataDemoFile.userLastMatch.userLastCTscore %>
                    </h1>

                </div>
                <div class="col-6 text-center">
                    <h1 class="text-white">
                        <%= dataDemoFile.userLastMatch.userLastMap%>
                    </h1>
                    <h5 class="text-white fw-lighter">
                        <%= dataDemoFile.userLastMatch.userLasServer%>
                    </h5>

                </div>
                <div class="col-3 ">
                    <h5 class="text-white text-center">
                        Terrorist
                    </h5>
                    <h1 class="text-white text-center">
                        <%= dataDemoFile.userLastMatch.userLastTscore %>
                    </h1>

                </div>
            </div>
        </div>
    </header>

    
        <div class="container-fluid px-5 my-2  " >


            <div class="row ">
              
               
                <div class="col-6 my-2 mx-auto "  >
                    <div class=" card shadow   col-12 mx-auto " style="background-color:#385170 ;">
                        <div class="card-header">
                            <h5>KDA</h5>
                        </div>
                        <div class=" p-3 mx-5 " >
                            <canvas id="radarChart"></canvas>
                        </div>
                    </div>
                </div>
              
                



            </div>
            <div class="row ">
                <div class="col-10 mx-auto card shadow" >
                  <div class="card-header">
                    <h5>Round History</h5>
                    </div>
                  <div id="carouselExampleControls" class="carousel slide"  data-bs-interval="false" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <table class="table table-borderless table-responsive  my-1 text-light ">
                          <thead>
                            <tr>
                              <th scope="col">Round 0</th>
                              <th scope="col">Killer</th>
                              <th scope="col">Weapon</th>
                              <th scope="col">Victim</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%   for (let i = 0; i < roundData[0][1].length; i++) { %>
                              <tr>
                                <th scope="row"></th>
                                
                                <td><%= roundData[0][1][i].AttackerLogs.attacker %></td>
                                <td><%= roundData[0][1][i].AttackerLogs.weaponUsed %></td>
                                <td><%= roundData[0][1][i].AttackerLogs.victim %></td>
                                
                              </tr>
                              <% }%>
                           
                          </tbody>
                        </table>
                      </div>
                   
                      <%   for (let i = 1; i < roundData.length; i++) { %>
                       
                      <div class="carousel-item">
                        <table class="table table-borderless table-responsive  my-1 text-light ">
                          <thead>
                            <tr>
                              <th scope="col">Round <%= i %></th>
                              <th scope="col">Killer</th>
                              <th scope="col">Weapon</th>
                              <th scope="col">Victim</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%   for (let j = 0; j < roundData[i][1].length; j++) { %>
                            <tr>
                              <th scope="row"></th>
                              
                              <td><%= roundData[i][1][j].AttackerLogs.attacker %></td>
                              <td><%= roundData[i][1][j].AttackerLogs.weaponUsed %>
                                <%= roundData[i][1][j].AttackerLogs.headshotStatus %>
                               </td>
                              <td><%= roundData[i][1][j].AttackerLogs.victim %></td>
                              
                            </tr>
                            <% }%>
                          
                          
                           
                          
                           
                          </tbody>
                        </table>
                      </div>
                      <% }%>
                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                      
                        
                </div>
                      
            </div>
            
        

        </div>
  
      </div>
</body>
<script src="/bootstrap.min.js"></script>
<script type="text/javascript" src="chart.min.js"></script>
<script type="text/javascript" src="JavaScript/matchDetailsCharts/radarChart.js"></script>
<script type="text/javascript" src="JavaScript/matchDetails.js"></script>

</html>