<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="gradient-custom">
    <nav class="navbar navbar-expand-lg navbar-light ">
		<div class="container-fluid">
			<a class="navbar-brand " href="#">RT:STATS</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav ms-auto">
					<a class="nav-link" href="/hud">HUD</a>
					<a class="nav-link" href="#">Settings</a>
					<a class="nav-link" href="logout">Logout</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="section-2">
		<div class="container-fluid px-5 mt-3">
			<div class="card p-3 " style="background-color: #3f4766;">
				<input type="text" hidden  name="" id="totalKills" value=<%= steamProfileData.userAPIData.userKills[0].value %>>
				<input type="text" hidden  name="" id="totalDeaths" value=<%= steamProfileData.userAPIData.userKills[1].value %>>
				<input type="text" hidden  name="" id="userID" value=<%= steamProfileData.userLastMatch.demo_id %>>
				<input type="text" hidden  name="" id="roundCT" value=<%= steamProfileData.userLastMatch.userLastTscore %>>
				<input type="text" hidden  name="" id="roundT" value=<%= steamProfileData.userLastMatch.userLastCTscore %>>
				<input type="text" hidden  name="" id="userTeam" value=<%= steamProfileData.userLastMatch.userLastMatchTeam %>>
			
				
				<div class="row">
					<div class="col-1 ms-3" >
						<img class="img-fluid" src="<%= steamProfileData.userAPIData.userData.photos[2].value %>" alt="">
					</div>
					<div class="col-6 ms-4 ">
						<h1 class="mb-4 " >Victorys: <a href="">image</a></h1>
						<h2 class=""><%= steamProfileData.userAPIData.userData.displayName %></h3>
						<h4 class="">Last Match</h4>
					</div>
					<div class="col-4 ms-auto  " >
						<h2 class="text-center mb-4  " id="victoryOrDefeat">Victory/Defeat</h1>
						
						<h2 class="text-center  "><%= steamProfileData.userLastMatch.userLastCTscore%> -- <%= steamProfileData.userLastMatch.userLastTscore %></h1>
						<h2 class="text-center  "><%= steamProfileData.userLastMatch.userLastMap %></h1>
						<form action="/account/matchDetail" method="POST">
							<input type="text"   name="demoFileID" id="demoFileID" value=<%= steamProfileData.userLastMatch.demo_id %>>
							<input type="submit" name="btnSend" class=" btn btn-primary  btn-lg" id="btnSend" value="Check Details">
						</form>	
					</div>
				</div>
			
			</div>
			<div class="row ">
				<div class="col-12">
					<div class="card p-3 mt-5">
						<h1 class="mx-auto">History Match</h1>
					</div>
				</div>
			</div>
			<h1 class=" mt-5">Perfomance</h1>
			<div class="row ">
				<div class="col-3">
					<div class="card p-3 mt-4">
						<canvas style="width:20px; height:20px" id="myChart2"></canvas>
					</div>
				</div>
				<div class="col-6">
					<div class="card p-3 mt-4">
						<canvas  id="MyChart1"></canvas>
					</div>
				</div>
				<div class="col-3">
					<div class="card p-3 mt-4">
						<canvas style="width:70px; height:20px" id="myChart3"></canvas>
					</div>
				</div>
			</div>
			
			<div class="row justify-content-center mt-5 ">
				<div class="col-3 me-auto " >
					<div class="card p-3 mt-4 ">
						<h2 class="mx-auto">top weapons</h2>
					</div>
				</div>
				<div class="col-3">
					<div class="card p-3 mt-4   ">
						<h2 class="mx-auto">Presicion</h2>	
					</div>
				</div>
				<div class="col-3 ms-auto ">
					<div class="card p-3 mt-4">
						<h2 class="mx-auto">Clutch success</h2>
					</div>
				</div>
			</div>
			
			
			
	
		
			
			
		</div>
	</div>
	

    
</body>
<script src="/bootstrap.min.js"></script>
<script type="text/javascript" src="chart.min.js"></script>
<script type="text/javascript" src="JavaScript/profileCharts/middleChart.js"></script>
<script type="text/javascript" src="JavaScript/profileCharts/leftChart.js"></script>
<script type="text/javascript" src="JavaScript/profileCharts/rightChart.js"></script>
<script type="text/javascript" src="JavaScript/profile.js"></script>

</html>






